* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: linear-gradient(30deg,
            rgb(250, 89, 30),
            rgb(255, 68, 0),
            rgb(0, 0, 182),
            blue);
    background-repeat: no-repeat;
    background-size: cover;
}

.episodios {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoPod {
    padding: 30px;
}

.img {
    width: 250px;
    border-radius: 50%;
    border: 5px solid rgb(255, 68, 0);
    animation: bordaLogo 4s infinite;
}

@media only screen and (max-width: 600px) {
    .img {
        width: 200px;
    }

    .audioOnly {
        width: 200px;
    }

    .episodios {
        margin: 5px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: 300;
    }

    .namePrincipal {
        font-size: medium;
    }

    video {
        width: 350px;
    }

    @keyframes palavras {

        0%,
        40% {
            padding: 5px;
        }

        41%,
        80% {
            padding: 5px;
        }

        81%,
        100% {
            padding: 5px;
        }
    }
}

@keyframes bordaLogo {

    0%,
    40% {
        border: 5px solid rgb(255, 68, 0);
    }

    41%,
    75% {
        border: 5px solid rgb(0, 38, 121);
    }

    76%,
    100% {
        border: 5px solid rgb(255, 255, 255);
    }
}

.namePod {
    padding: 20px;
}

h1 {
    letter-spacing: 4px;
    font-size: 45px;
    font-weight: 300;
    position: relative;
}

h1::before {
    content: "";
    color: rgb(0, 0, 0);
    animation: palavras 10s infinite;
}

.audioOnly {
    background-color: transparent;
    box-shadow: 7px 7px 7px white;
    border-radius: 20px;
    border: 1px solid white;
    width: 400px;
    justify-content: center;
    flex-basis: 200;
    flex-grow: 1;
}

@keyframes palavras {

    0%,
    40% {
        content: "PODCAST FALAMEMO!!";
        background-image: linear-gradient(60deg, blue, rgb(199, 63, 0));
        border-radius: 20px;
        box-shadow: 7px 7px 7px black;
        border: solid 1px black;
        padding: 10px;
    }

    41%,
    80% {
        content: "VEJA O VIDEO!!!";
        background-image: linear-gradient(60deg, blue, rgb(199, 63, 0));
        border-radius: 20px;
        border: solid 1px black;
        padding: 10px;
        box-shadow: 7px 7px 7px black;
    }

    81%,
    100% {
        content: "ASSISTA OS EP'S!!!";
        background-image: linear-gradient(60deg, blue, rgb(199, 63, 0));
        border-radius: 20px;
        border: solid 1px black;
        padding: 10px;
        box-shadow: 7px 7px 7px black;
    }
}

h3 {
    padding: 20px;
}

.audio {
    background-color: transparent;
}

.audioEsp {
    padding: 20px;
}

h4 {
    padding: 10px;
}

.pod {
    padding: 20px;
}

.auxiliar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}